{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h2> Post: {{post.description }}</h2>
<h2> <img src="{{post.image.url}}" class="img-thumbnail" style="max-height: 300px;" alt=""></h2>

<form method='get'>
    {% for c in comments %}
    <li>
        <p>{{c.text}} -- {{c.username}}</p>
    </li>
    {% empty %}
    <li> There are no comments for this post.</li>
    {% endfor %}

    <p> <input type="text" name="comment"></p>
    <p> <button type="submit" name="btn1" value=1> Submit Comment </button></p>
</form>

{% endblock content %}